// Place all the styles related to the tests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div {
  border: 1px solid #99f;
  padding: 10px;
  margin-bottom: 10px;
}

h1 {
  font-size: 110%;
  background-color: #eee;
  width: 100%;
  padding: 4px;
}